<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Modyfikuj pokój</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
</head>
<body>
    <h2>Modyfikuj pokój</h2>
    <form th:action="@{/rooms/edit}" method="post">
        <input type="hidden" name="id" th:value="${room.id}"/>
        <p><label for="roomNumber">Numer pokoju:</label> <input type="text" id="roomNumber" name="roomNumber" th:value="${room.number}"/></p>
        <p><label for="bedSetup">Rozkład łóżek:</label>
            <select id="bedSetup" name="bedSetup">
                <option value="1" th:selected="${bedsAsStr=='1'}">Pojedyncze</option>
                <option value="2" th:selected="${bedsAsStr=='2'}">Podwójne</option>
                <option value="1+1" th:selected="${bedsAsStr=='1+1'}">Dwa Pojedyncze</option>
                <option value="2+1" th:selected="${bedsAsStr=='2+1'}">Podwójne i pojedyncze</option>
                <option value="2+1+1" th:selected="${bedsAsStr=='2+1+1'}">Podwójne i dwa pojedyncze</option>
            </select>
        </p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>