<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gnomix - goście</title>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
</head>
<body>
<h2>Lista gości</h2>
<table>
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
            <th>Płeć</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="guest : ${guests}">
            <td th:text="${guest.firstName}"/>
            <td th:text="${guest.lastName}"/>
            <td th:text="${guest.birthDate}"/>
            <td th:text="${guest.gender}"/>
            <td><a th:href="@{/guests/delete/{id}(id=${guest.id})}">Usuń</a></td>
            <td><a th:href="@{/guests/edit/{id}(id=${guest.id})}">Modyfikuj</a></td>
        </tr>
    </tbody>
</table>
<div th:if="${removalResult != null}">
    <p th:text="${removalResult ? 'Udało się usunąć gościa' : 'Nie udało się usunąć gościa'}"></p>
</div>
<div th:if="${editResult != null}">
    <p th:text="${editResult ? 'Udało się zmodyfikować gościa' : 'Nie odnaleziono gościa'}"></p>
</div>
</body>
</html>