<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gnomix - pokoje</title>
</head>
<body>
<h2>Lista pokoi</h2>
<table>
    <thead>
        <tr>
            <th>Numer pokoju</th>
            <th>Rozmiar</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.number}"/>
        <td th:text="${room.size()}"/>
        <td><a th:href="@{/rooms/delete/{id}(id=${room.id})}">Usuń</a></td>
        <td><a th:href="@{/rooms/edit/{id}(id=${room.id})}">Modyfikuj</a></td>
    </tr>
    </tbody>

</table>
<div th:if="${removalResult != null}">
    <p th:text="${removalResult ? 'Udało się usunąć pokoju' : 'Nie udało się usunąć pokoju'}"></p>
</div>
<div th:if="${editResult != null}">
    <p th:text="${editResult ? 'Udało się zmodyfikować pokoju' : 'Nie odnaleziono pokoju'}"></p>
</div>
</body>
</html>
